body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  margin: 10px;
  text-align: center;
}

.tweets {
    overflow-y: scroll;
    max-height: 600px;
}

.navbar {
  background-color: #55acee;
  border-color: #2547ae;
}

.navbar .navbar-brand {
  color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #cac3d2;
}
.navbar .navbar-text {
  color: #ecf0f1;
}
.navbar .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: #cac3d2;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: #cac3d2;
  background-color: #2547ae;
}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
  color: #cac3d2;
  background-color: #2547ae;
}
.navbar .navbar-toggle {
  border-color: #2547ae;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #2547ae;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}
.navbar .navbar-link {
  color: #ecf0f1;
}
.navbar .navbar-link:hover {
  color: #cac3d2;
}

@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #cac3d2;
  }
  .navbar .navbar-nav .open .dropdown-menu > .active > a,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #cac3d2;
    background-color: #2547ae;
  }
}
